<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a
        href="https://accounts.spotify.com/authorize?client_id=526a544bec654eaf99e7c3bddaadc299&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Fspotify-callback&scope=user-read-private%20user-read-email&state=34fFs29kd08">
        <img src="https://developer.spotify.com/assets/branding-guidelines/icon3@2x.png" style="border-radius: 5px; margin-right: 5px;"
            witdh="35px" height="35px" alt="VK" title="Sign in Spotify"></a>
</body>

</html>