<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <a
        href="https://oauth.vk.com/authorize?client_id=7983278&display=page&redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Fvk-callback&scope=email&response_type=code&v=5.131&state=123456">
        <img src="https://vk.com/images/icons/pwa/apple/default.png?11" style="border-radius: 5px; margin-right: 5px;"
            witdh="35px" height="35px" alt="VK" title="Войти через Вконтакте"></a>
</body>

</html>